<ng-include src="'views/sidebar.html'"></ng-include>
<section class="small-12 medium-8 large-9 columns">
	<p class="b1">Introduction</p>
	<p>
		As you may or may not know Zumba’s website consist of a robust app that includes a fully custom ecommerce shop that supports international transactions, class and training search and registration, Zumba Instructor Network (ZIN) admin portal and many other apps. Our in-house tech department is responsible for managing the interactive products, developing, testing and deploying the projects.
	</p>
</section>
