<aside class="small-12 medium-4 large-3 columns">
    <ul class="side-menu">
        <li ng-class="setActive('/')">
            <a href="#">Intro {{message}}</a>
        </li>
        <li ng-class="setActive('/design/code')">
            <a href="#contents/code">Code</a>
        </li>

        <li ng-class="setActive('/design/grid')">
            <a href="#contents/grid">Grid</a>
        </li>
        <li ng-class="setActive('/design/breakpoints')">
            <a href="#contents/breakpoints">Breakpoints</a>
        </li>
        <li ng-class="setActive('/design/colors')">
            <a href="#contents/colors">Colors</a>
        </li>
        <li ng-class="setActive('/design/patterns')">
            <a href="#contents/patterns">Patterns</a>
        </li>
        <li ng-class="setActive('/design/typography')">
            <a href="#contents/typography">Typography</a>
        </li>
        <li ng-class="setActive('/design/buttons')">
            <a href="#contents/buttons">Buttons</a>
        </li>
        <li ng-class="setActive('/design/icons')">
            <a href="#contents/icons">Icons</a>
        </li>
        <li ng-class="setActive('/design/forms')">
            <a href="#contents/forms">Forms</a>
        </li>
        <li ng-class="setActive('/design/class-logos')">
            <a href="#contents/class-logos">Class Logos</a>
        </li>
        <li ng-class="setActive('/design/components')">
            <a href="#contents/components">Components</a>
        </li>
    </ul>
</aside>

<!-- 

Intro
Code
Grid
Breakpoints
Color
Patterns
Typography
Buttons
Icons
Forms
Class Logos
Components

-->