<!-- <aside class="hide-for-small medium-4 large-3 columns"> -->
<aside class="hide-for-small side-menu-wrap">
    <ul class="side-menu">
        <li ng-class="setActive('/')">
            <a href="#">Intro {{message}}</a>
        </li>
        <li ng-class="setActive('/contents/code')">
            <a href="#contents/code">Code</a>
        </li>

        <li ng-class="setActive('/contents/grid')">
            <a href="#contents/grid">Grid</a>
        </li>
        <li ng-class="setActive('/contents/breakpoints')">
            <a href="#contents/breakpoints">Breakpoints</a>
        </li>
        <li ng-class="setActive('/contents/colors')">
            <a href="#contents/colors">Colors</a>
        </li>
        <li ng-class="setActive('/contents/patterns')">
            <a href="#contents/patterns">Patterns</a>
        </li>
        <li ng-class="setActive('/contents/typography')">
            <a href="#contents/typography">Typography</a>
        </li>
        <li ng-class="setActive('/contents/buttons')">
            <a href="#contents/buttons">Buttons</a>
        </li>
        <li ng-class="setActive('/design/icons')">
            <a href="#contents/icons">Icons</a>
        </li>
        <!--
        <li ng-class="setActive('/design/forms')">
            <a href="#contents/forms">Forms</a>
        </li>
        <li ng-class="setActive('/design/class-logos')">
            <a href="#contents/class-logos">Class Logos</a>
        </li>
        <li ng-class="setActive('/design/components')">
            <a href="#contents/components">Components</a>
        </li>
        -->
    </ul>
</aside>

<!-- 

Intro
Code
Grid
Breakpoints
Color
Patterns
Typography
Buttons
Icons
Forms
Class Logos
Components

-->