
// header

.header-bar {
	height: 6em;
	background: $sg-dark-gray;
	padding: 1.75em 0 0 1.75em;

	@media #{$small-only} {
		padding: 1.75em 0 0 1.25em;
	}

	.row {
		padding: 1.67em 0.9375rem 0 0.9375rem;
	}

	h1 {
		float: none;
		@include b-bold;
		@include font-size(20);
		margin: 0 0 0 3em;
		line-height: 1.1;
		letter-spacing: -.025em;
		display: inline-block;
		margin-top: .5em;
		color: $sg-light-gray;
		text-transform: none;

		@media #{$small-only} {
			padding: .5em 1.5em;
			background: $sg-light-gray;
			color: $sg-dark-gray;
			display: block;
			clear: both;
			text-align: center;
			position: absolute;
			top: 4.25em;
			width: 100%;
			margin-left: -1em;
		}
	}
}

.burger-wrapper {
 	text-indent: -9999px;
 	left: 0;
	top: 6em;
	position: absolute;
	width: 4em;
	height: 2.5em;
}

%burger-layers {
	position: absolute;
	width: 30px;
	height: 4px;
	border-radius: .3em;
	background: $sg-dark-gray;
}

.burger {
	text-indent: -9999px;
	left: 1.5em;
	top: 1.1em;
	@extend %burger-layers;

	&::before,
	&::after {
		content: '';
	}

	&::before {
		top: -8px;
		left: 0;
		@extend %burger-layers;
	}

	&::after {
		top: 8px;
		left: 0;
		@extend %burger-layers;
	}
}

.logo {
	width: 230px;
	height: 40px;
	text-indent: -9999px;
	display: inline-block;
	float: left;
	background: url('/img/zumba-tech-logo.svg') 0 0 no-repeat;
	background-size: cover;
}

h1 {
	@include b-reg;
	@inlcude font-size(18);
	color: $mid-gray;

	@media #{$medium-up} {
		@inlcude font-size(20);
	}

	span {
		display: block;
	}
}

