
// header

.header-bar {
	height: 6em;
	background: $sg-dark-gray;
	padding: 1.75em 0 0 1.75em;

	.row {
		padding: 1.67em 0.9375rem 0 0.9375rem;
	}

	h1 {
		float: none;
		@include b-bold;
		@include font-size(20);
		margin: 0 0 0 3em;
		line-height: 1.1;
		letter-spacing: -.025em;
		display: inline-block;
		margin-top: .5em;
		color: $sg-light-gray;
		text-transform: none;

		@media #{$small-only} {
			padding: .5em 1.5em;
			background: $sg-light-gray;
			color: $sg-dark-gray;
			display: block;
			clear: both;
			text-align: center;
			position: relative;
			top: 1.25em;
			margin-left: -1.5em;
		}
	}
}

.burger {
	position: absolute;
	left: 2em;
	top: 6.5em;
}

.logo {
	width: 230px;
	height: 40px;
	text-indent: -9999px;
	display: inline-block;
	float: left;
	//margin: 1.67em auto 0;
	background: url('/img/zumba-tech-logo.svg') 0 0 no-repeat;
	background-size: cover;
}

h1 {
	@include b-reg;
	@inlcude font-size(18);
	color: $mid-gray;

	@media #{$medium-up} {
		@inlcude font-size(20);
	}

	span {
		display: block;
	}
}

/*
	+ Tab once, no spaces
	+ One line space between media queries or nested element
	+ No inline properties
	+ We never style ID’s only Classes
	+ Try to code in the order in which the elements are dsiplayed in the markup
	+ Keep nesting down to a minimum and no deeper than 4 levels including pseudo selectors
	+ Media queries go after properties and the order should reflect mobile first
*/

