<!doctype html>
<html class="no-js" lang="en" ng-app="StyleGuide">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Zumba Style Guide</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

        <link rel="stylesheet" href="css/main.css">

        <script src="bower_components/modernizr/modernizr.js"></script>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/foundation/js/foundation.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="fixed">
            <nav class="top-bar" data-topbar>
                <ul class="top-bar-left left">
                    <li class="logo">
                        <a href="/">Zumba Style Guide</a>
                    </li>
                </ul>
                <section class="top-bar-section">
                    <ul class="right" ng-controller="Navigation" ng-model="linkList">
                        <li ng-repeat="link in linkList">
                            <a href="#/{{link}}" ng-click="setRoute()">{{link}}</a>
                        </li>
                    </ul>
                </section>
            </nav>
        </div><!-- end top navigation -->
        <div class="row layout" style="margin-top:10em;" ng-controller="Sidebar">
            <div class="small-3 columns sidebar" ng-view></div>
            <div class="small-9 columns main" ng-include src="template"></div>
        </div>
        <script src="js/app.js"></script>
        <script src="js/Controller/navigation.js"></script>
        <script src="js/Controller/sidebar.js"></script>
    </body>
</html>