<section class="columns">
	<h2>Buttons</h2>
	<p>
		These are the current buttons being used on the Zumba website.
	</p>

	<p class="sub-sub-head">Primary</p>
	<div class="row button-row">
		<div class="column">
			<button class="button">Primary</button>
			<button class="button is-outlined-pink">Secondary</button>
			<button class="button is-outlined-dark">Options</button>
			<button class="button is-gray">Cancel</button>
			<button class="button is-green">View Cart</button>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<pre zsg-prism class="language-markup" source='
				<button class="button">Primary</button>
<button class="button is-outlined-pink">Secondary</button>
<button class="button is-outlined-dark">Options</button>
<button class="button is-gray">Cancel</button>
<button class="button is-green">View Cart</button>'>
			</pre>
		</div>
	</div>

	<p class="sub-sub-head">Dark Background</p>
	<div class="row button-row dark collapse">
		<div class="column">
			<button class="button is-outlined-green">Primary</button>
			<button class="button is-outlined-white">Secondary</button>
			<button class="button is-white-haze">Options</button>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<pre zsg-prism class="language-markup" source='
					<button class="button is-outlined-green">Primary</button>
<button class="button is-outlined-white">Secondary</button>
<button class="button is-white-haze">Options</button>'>
			</pre>
		</div>
	</div>

	<p class="sub-sub-head">Play Video</p>
	<div class="row button-row">
		<div class="column">
			<a href="" class="gray-play-button"><span></span></a>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<pre zsg-prism class="language-markup" source='
					<a href="" class="gray-play-button"><span></span></a>'>
			</pre>
		</div>
	</div>

</section>
