
<section class="small-12 medium-10 columns">
	<h2>Colors</h2>
	<p>
		These are the current colors being used on the Zumba website.
	</p>

	<p class="sub-sub-head">Primary</p>

	<div class="row color-row">
		<div class="small-6 medium-3 columns">
			<div class="card c-zumba-yellow">
				<section>
					<p>$zumba-yellow<span>#dae251</span></p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<section>
					<p>$white<span>#ffffff</span></p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-midnight">
				<section>
					<p>$midnight<span>#1d1d24</span></p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-pink">
				<section>
					<p>$pink<span>#e73e5d</span></p>
				</section>
			</div>
		</div>
	</div>

	<p class="sub-sub-head">Secondary</p>

	<div class="row color-row">
		<div class="small-6 medium-3 columns">
			<div class="card c-extra-light-gray">
				<section>
					<p>$extra-light-gray<span>#eff0f6</span></p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-light-gray">
				<section>
					<p>$light-gray<span>#DADAE2</span></p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-mid-gray">
				<section>
					<p>$mid-gray<span>#95959A</span></p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-darkness-gray">
				<section>
					<p>$darkness-gray<span>#2c2d37</span></p>
				</section>
			</div>
		</div>
	</div>

	<div class="row color-row">
		<div class="small-6 medium-3 columns">
			<div class="card c-slate">
				<section>
					<p>$slate<span>#606b76</span></p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-warm-gray">
				<section>
					<p>$warm-gray<span>#353541</span></p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-red">
				<section>
					<p>$red<span>#d0000d</span></p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-orange">
				<section>
					<p>$orange<span>#fa962c</span></p>
				</section>
			</div>
		</div>
	</div>

	<div class="row color-row">
		<div class="small-6 medium-3 columns">
			<div class="card c-black">
				<section>
					<p>$black<span>#222222</span></p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-purple">
				<section>
					<p>$purple<span>#6C207E</span></p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-blue">
				<section>
					<p>$blue<span>#26c1e2</span></p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-mid-blue">
				<section>
					<p>$mid-blue<span>#018ca9</span></p>
				</section>
			</div>
		</div>
	</div>

	<p class="sub-sub-head">Zumba Classes</p>

	<div class="row color-row">
		<div class="small-12 medium-6 columns">
			<div class="card c-zumba-yellow">
				<section>
					<p>$z-zumba, $z-kids, $z-kidsjr, $z-step<span>#dae251</span></p>
				</section>
			</div>
		</div>
		<div class="small-12 medium-6 columns">
			<div class="card c-z-zumba-2">
				<section>
					<p>$z-zumba-2, $z-circuit<span>#959ca1</span></p>
				</section>
			</div>
		</div>
	</div>

	<div class="row color-row">
		<div class="small-6 medium-3 columns">
			<div class="card c-z-aqua">
				<section>
					<p>$z-aqua<span>#00a0af</span></p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-z-gold">
				<section>
					<p>$z-gold<span>#f8981d</span></p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-z-gold-toning">
				<section>
					<p>$z-gold-toning<span>#f8981d to #732b85</span></p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-z-toning">
				<section>
					<p>$z-toning<span>#732b85</span></p>
				</section>
			</div>
		</div>
	</div>

	<div class="row color-row">
		<div class="small-6 medium-3 columns">
			<div class="card c-z-sentao">
				<section>
					<p>$z-sentao<span>#9c0059</span></p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns" style="float:left;">
			<div class="card c-z-zumbini">
				<section>
					<p>$z-zumbini<span>#e50278</span></p>
				</section>
			</div>
		</div>
	</div>

</section>