<section class="columns">
	<h2>Icons</h2>
	<p>
		These are the sets of icons we use on the Zumba website.
	</p>

	<!-- TODO: Show example of how to apply it to a span and using a pseudo element -->

	<p class="sub-sub-head">Consumer Facing Pages</p>
	<div class="row card-row">
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-arrow-black-svg"></span>
				<section>
					<p>.icon-arrow-black-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-arrow-blue-svg"></span>
				<section>
					<p>.icon-arrow-blue-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-arrow-dark-up-svg"></span>
				<section>
					<p>.icon-arrow-dark-up-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-arrow-lt-blue-svg"></span>
				<section>
					<p>.icon-arrow-lt-blue-svg</p>
				</section>
			</div>
		</div>
	</div>

	<div class="row card-row">
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-arrow-pink-svg"></span>
				<section>
					<p>.icon-arrow-pink-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card icon-help-dark">
				<span class="icon-arrow-white-left-svg"></span>
				<section>
					<p>.icon-arrow-white-left-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card icon-help-dark">
				<span class="icon-arrow-white-right-svg"></span>
				<section>
					<p>.icon-arrow-white-right-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-boombox-svg"></span>
				<section>
					<p>.icon-boombox-svg</p>
				</section>
			</div>
		</div>
	</div>

	<div class="row card-row">
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-cartcount-no-bacon-png"></span>
				<section>
					<p>.icon-cartcount-no-bacon-png</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-cartcount-png"></span>
				<section>
					<p>.icon-cartcount-png</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-cartcount-2-png"></span>
				<section>
					<p>.icon-cartcount-2-png</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-check-svg"></span>
				<section>
					<p>.icon-check-svg</p>
				</section>
			</div>
		</div>
	</div>

	<div class="row card-row">
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-chevron-dark-svg"></span>
				<section>
					<p>.icon-chevron-dark-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-chevron-pink-svg"></span>
				<section>
					<p>.icon-chevron-pink-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card icon-help-dark">
				<span class="icon-chevron-white-svg"></span>
				<section>
					<p>.icon-chevron-white-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-chevron-svg"></span>
				<section>
					<p>.icon-chevron-svg</p>
				</section>
			</div>
		</div>
	</div>

	<div class="row card-row">
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-close-svg"></span>
				<section>
					<p>.icon-close-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-cog-svg"></span>
				<section>
					<p>.icon-cog-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-dufflebag-small-svg"></span>
				<section>
					<p>.icon-dufflebag-small-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-dufflebag-med-svg"></span>
				<section>
					<p>.icon-dufflebag-med-svg</p>
				</section>
			</div>
		</div>
	</div>

	<div class="row card-row">
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-dufflebag-svg"></span>
				<section>
					<p>.icon-dufflebag-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-green-check-svg"></span>
				<section>
					<p>.icon-green-check-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-hamburger-svg"></span>
				<section>
					<p>.icon-hamburger-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-key-svg"></span>
				<section>
					<p>.icon-key-svg</p>
				</section>
			</div>
		</div>
	</div>

	<div class="row card-row">
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-lock-svg"></span>
				<section>
					<p>.icon-lock-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-mail-svg"></span>
				<section>
					<p>.icon-mail-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-oops-svg"></span>
				<section>
					<p>.icon-oops-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card icon-help-dark">
				<span class="icon-paypal-svg"></span>
				<section>
					<p>.icon-paypal-svg</p>
				</section>
			</div>
		</div>
	</div>

	<div class="row card-row">
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-play-svg"></span>
				<section>
					<p>.icon-play-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-print-svg"></span>
				<section>
					<p>icon-print-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-search-black-svg"></span>
				<section>
					<p>.icon-search-black-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-search-svg"></span>
				<section>
					<p>.icon-search-svg</p>
				</section>
			</div>
		</div>
	</div>

	<div class="row card-row">
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-shades-svg"></span>
				<section>
					<p>.icon-shades-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-speech-help-svg"></span>
				<section>
					<p>icon-speech-help-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-truck-svg"></span>
				<section>
					<p>.icon-truck-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-msg-sent-svg"></span>
				<section>
					<p>.icon-msg-sent-svg</p>
				</section>
			</div>
		</div>
	</div>

	<p class="sub-sub-head">ZIN Dashboard</p>
	<div class="row card-row">
		<div class="small-6 medium-3 columns">
			<div class="card icon-help-dark">
				<span class="icon-zin-avatar-svg"></span>
				<section>
					<p>.icon-zin-avatar-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-zin-connect-svg"></span>
				<section>
					<p>.icon-zin-connect-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card icon-help-dark">
				<span class="icon-zin-discs-svg"></span>
				<section>
					<p>.icon-zin-discs-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-zin-earn-svg"></span>
				<section>
					<p>.icon-zin-earn-svg</p>
				</section>
			</div>
		</div>
	</div>

	<div class="row card-row">
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-zin-edit-svg"></span>
				<section>
					<p>.icon-zin-edit-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-zin-edit-active-svg"></span>
				<section>
					<p>.icon-zin-edit-active-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-zin-expand-graph-svg"></span>
				<section>
					<p>.icon-zin-expand-graph-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-zin-learn-svg"></span>
				<section>
					<p>.icon-zin-learn-svg</p>
				</section>
			</div>
		</div>
	</div>

	<div class="row card-row">
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-zin-promote-svg"></span>
				<section>
					<p>.icon-zin-promote-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card c-white">
				<span class="icon-zin-steps-svg"></span>
				<section>
					<p>.icon-zin-steps-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card icon-help-dark">
				<span class="icon-zin-video-svg"></span>
				<section>
					<p>.icon-zin-video-svg</p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card icon-help-dark">
				<span class="icon-zin-video-screen-svg"></span>
				<section>
					<p>.icon-zin-video-screen-svg</p>
				</section>
			</div>
		</div>
	</div>

</section>