<!-- <ng-include src="'views/sidebar.html'"></ng-include> -->
<section class="small-12 medium-8 large-9 columns">
	<h2>Patterns</h2>
	<p>
		These are the patterns we often use across the site.
	</p>

	<p class="sub-sub-head">Primary Zumba Class Patterns</p>

	<div class="row color-row">
		<div class="small-6 medium-3 columns">
			<div class="card zp-zumba">
				<section>
					<p>.zp-zumba<span>Zumba, Kids(Jr), Step</span></p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card zp-aqua-zumba">
				<section>
					<p>.zp-aqua-zumba<span>Aqua Zumba</span></p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card zp-zumba-in-the-circuit">
				<section>
					<p>.zp-zumba-in-the-circuit<span>Zumba In the Circuit</span></p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card zp-zumba-gold">
				<section>
					<p>.zp-zumba-gold<span>Zumba Gold</span></p>
				</section>
			</div>
		</div>
	</div>

	<div class="row color-row">
		<div class="small-6 medium-3 columns">
			<div class="card zp-zumba-gold-toning">
				<section>
					<p>.zp-zumba-gold-toning<span>Zumba Gold Toning</span></p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card zp-zumba-sentao">
				<section>
					<p>.zp-zumba-sentao<span>Zumba Sentao</span></p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card zp-zumba-toning">
				<section>
					<p>.zp-zumba-toning<span>Zumba Toning</span></p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card zp-zumbini">
				<section>
					<p>.zp-zumbini<span>Zumbini</span></p>
				</section>
			</div>
		</div>
	</div>

	<div class="row color-row">
		<div class="small-12 medium-6 columns">
			<div class="card zp-dark">
				<section>
					<p>$zp-dark<span>Dark Pattern</span></p>
				</section>
			</div>
		</div>
	</div>

	<p class="sub-sub-head">Home and Shop Promo Patterns</p>

	<div class="row color-row">
		<div class="small-6 medium-3 columns">
			<div class="card zp-wave-black">
				<section>
					<p>.zp-wave-black<span>Black Wave</span></p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card zp-wave-pink">
				<section>
					<p>.zp-wave-pink<span>Pink Wave</span></p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card zp-wave-blue">
				<section>
					<p>.zp-wave-blue<span>Blue Wave</span></p>
				</section>
			</div>
		</div>
		<div class="small-6 medium-3 columns">
			<div class="card zp-shop-promo">
				<section>
					<p>.zp-shop-promo<span>Shop Promo</span></p>
				</section>
			</div>
		</div>
	</div>

	<div class="row color-row">
		<div class="small-6 medium-3 columns">
			<div class="card zp-shop-promo-orange">
				<section>
					<p>.zp-shop-promo-orange<span>Shop Promo Orange</span></p>
				</section>
			</div>
		</div>
	</div>

</section>