<!-- <ng-include src="'views/sidebar.html'"></ng-include> -->
<section class="small-12 medium-8 large-9 columns">
	<h2>Typography</h2>
	<p>
		Zumba's Typography involves two font families with some varying styles.
	</p>

		<h1 class="spacing-overwrite">Headline 1</h1>
		<span>
			<pre class="language-markup"><code class="language-markup"><span class="token tag"><span class="token punctuation"><</span></span>h1<span class="token punctuation">></span></span></code></pre>
		</span>
		
		<h2 class="spacing-overwrite">Headline 2</h2>
		<span>
			<pre class="language-markup"><code class="language-markup"><span class="token tag"><span class="token punctuation"><</span></span>h2<span class="token punctuation">></span></span></code></pre>
		</span>

		<h3 class="spacing-overwrite">Headline 3</h3>
		<span>
			<pre class="language-markup"><code class="language-markup"><span class="token tag"><span class="token punctuation"><</span></span>h3<span class="token punctuation">></span></span></code></pre>
		</span>

		<h4 class="spacing-overwrite">Headline 4</h4>
		<span>
			<pre class="language-markup"><code class="language-markup"><span class="token tag"><span class="token punctuation"><</span></span>h4<span class="token punctuation">></span></span></code></pre>
		</span>

		<h5 class="spacing-overwrite">Headline 5</h5>
		<span>
			<pre class="language-markup"><code class="language-markup"><span class="token tag"><span class="token punctuation"><</span></span>h5<span class="token punctuation">></span></span></code></pre>
		</span>

		<h6 class="spacing-overwrite">Headline 6</h6>
		<span>
			<pre class="language-markup"><code class="language-markup"><span class="token tag"><span class="token punctuation"><</span></span>h6<span class="token punctuation">></span></span></code></pre>
		</span>

		<p class="sub-head spacing-overwrite">Sub Headline</p>
		<span>
			<pre class="language-css"><code class="language-markup">.sub-head</code></pre>
		</span>

		<p class="sub-sub-head spacing-overwrite">Sub-sub Headline</p>
		<span>
			<pre class="language-css"><code class="language-markup">.sub-sub-head</code></pre>
		</span>

		<p class="b1 spacing-overwrite">Bold 1</p>
		<span>
			<pre class="language-css"><code class="language-markup">.b1</code></pre>
		</span>

		<p class="b2 spacing-verwrite">Bold 2</p>
		<span>
			<pre class="language-css"><code class="language-markup">.b2</code></pre>
		</span>

		<p class="spacing-overwrite">Regular body copy looks like this: We take the "work" out of workout, by mixing low-intensity and high-intensity moves for an interval-style, calorie-burning dance fitness party. Once the Latin and World rhythms take over, you'll see why Zumba<sup>&reg;</sup> Fitness classes are often called exercise in disguise. Super effective? Check. Super fun? Check and check.</p>
		<span>
			<pre class="language-markup"><code class="language-markup"><span class="token tag"><span class="token punctuation"><</span></span>p<span class="token punctuation">></span></span></code></pre>
		</span>

</section>