<section class="columns">
	<h2>Typography</h2>
	<p>
		Zumba's Typography involves two font families with some varying styles.
	</p>

		<h1 class="spacing-overwrite">Headline 1</h1>
		<span class="desc">BrandonText-Bold | 3rem/48px | Uppercase</span>
		<pre zsg-prism class="language-markup" source="<h1></h1>"></pre>
		
		<h2 class="spacing-overwrite">Headline 2</h2>
		<span class="desc">BrandonText-Bold | 2.25rem/36px | Uppercase</span>
		<pre zsg-prism class="language-markup" source="<h2></h2>"></pre>

		<h3 class="spacing-overwrite">Headline 3</h3>
		<span class="desc">BrandonText-Regular | 3rem/48px</span>
		<pre zsg-prism class="language-markup" source="<h3></h3>"></pre>

		<h4 class="spacing-overwrite">Headline 4</h4>
		<span class="desc">BrandonText-Regular | 2.25rem/36px</span>
		<pre zsg-prism class="language-markup" source="<h4></h4>"></pre>

		<h5 class="spacing-overwrite">Headline 5</h5>
		<span class="desc">Minion Pro | 2.625rem/42px | Italic</span>
		<pre zsg-prism class="language-markup" source="<h5></h5>"></pre>

		<h6 class="spacing-overwrite">Headline 6</h6>
		<span class="desc">Minion Pro | 2.25rem/36px | Italic</span>
		<pre zsg-prism class="language-markup" source="<h6></h6>"></pre>

		<p class="sub-head spacing-overwrite">Sub Headline</p>
		<span class="desc">Minion Pro | 1.75rem/28px | Italic</span>
		<pre zsg-prism class="language-markup" source='<p class="sub-head"></p>'></pre>

		<p class="sub-sub-head spacing-overwrite">Sub-sub Headline</p>
		<span class="desc">Minion Pro | 1.5rem/24px | Italic</span>
		<pre zsg-prism class="language-markup" source='<p class="sub-sub-head"></p>'></pre>

		<p class="b1 spacing-overwrite">Bold 1</p>
		<span class="desc">BrandonText-Bold | 1.25rem/20px</span>
		<pre zsg-prism class="language-markup" source='<p class="b1"></p>'></pre>

		<p class="b2 spacing-overwrite">Bold 2</p>
		<span class="desc">BrandonText-Bold | 1rem/16px</span>
		<pre zsg-prism class="language-markup" source='<p class="b2"></p>'></pre>

		<p class="spacing-overwrite">Regular body copy looks like this: We take the "work" out of workout, by mixing low-intensity and high-intensity moves for an interval-style, calorie-burning dance fitness party. Once the Latin and World rhythms take over, you'll see why Zumba<sup>&reg;</sup> Fitness classes are often called exercise in disguise. Super effective? Check. Super fun? Check and check.</p>
		<span class="desc">BrandonText-Regular | 1rem/16px</span>
		<pre zsg-prism class="language-markup" source="<p></p>"></pre>

</section>