.button {
	margin: 0;
	padding-bottom: .77em;
	@include border-radius(.2em);
	background: $pink;
	@include b-bold;
	font-style: normal;
	text-transform: uppercase;
	@include font-size(15);
	@include single-transition(background, 200ms);

	.ie8 & {
		padding: 1em 2em;
	}
}

button,
.button {
	&:hover,
	&:focus {
		background: $warm-gray;
	}

	&[disabled], &[disabled]:hover {
		background: $light-gray;
		cursor: not-allowed;

		.ie & {
			background-color: $darkness-gray;
		}
	}
}

.is-outlined-white {
	background: none;
	border: 1px solid $white;
	@include border-radius(.3em);
	@include single-transition(all, 200ms, ease);

	&:hover {
		border: solid 1px $midnight;
		background: none;
		color: $midnight;
	}
}

.is-white-haze {
	background: rgba($white, .75);
	color: $midnight;
	border: 0;
	@include border-radius(.3em);
	@include single-transition(all, 200ms, ease);

	&:hover {
		color: $pink;
		border: 0;
	}
}

.is-outlined-dark {
	background: none;
	border: 1px solid $midnight;
	color: $midnight;
	@include border-radius(.3em);
}

.is-outlined-pink {
	background: none;
	border: 1px solid $pink;
	color: $pink;
	@include border-radius(.3em);
	@include single-transition(all, 200ms, ease);

	&:hover {
		border: solid 1px $midnight;
		background: none;
		color: $warm-gray;
	}
}

.is-outlined-green {
	background: none;
	border: 1px solid $zumba-yellow;
	color: $white;
	@include border-radius(.3em);
	@include single-transition(all, 200ms, ease);

	&:hover {
		border: solid 1px $zumba-yellow;
		background: $zumba-yellow;
		color: $warm-gray;
	}
}

.button-link {
	display: inline-block;
	border-bottom: 1px solid $white;
	color: white;
	@include b-med;
	text-transform: uppercase;
}

.is-green {
	background: $zumba-yellow;
	color: $midnight;

	&:hover {
		background: $warm-gray;
		color: $white;
	}
}

.is-gray {
	background: #f6f6f6;
	color: $pink;

	&:hover {
		background: $warm-gray;
		border: none;
		color: $white;
	}
}

.button-back {
	color: $pink;
	@include b-bold;
	@include font-size(14);
	text-decoration: none;
	@include single-transition(color, 200ms);

	&:hover {
		color: $warm-gray;
	}
}

.blt-click-to {
	cursor: pointer;
}

.big-play-button {
	position: absolute;
	//top: 35%;
	//right: 40%;
	display: block;
	margin: 0 auto;
	width: 6.25em;
	height: 6.25em;
	@include border-radius(50%);
	@include box-shadow(none);
	background: none;
	z-index: 2;
	cursor: pointer;
	opacity: 1;
	border: .25em solid #fff;
	@include transition(background, .2s);
	pointer-events: auto !important;

	// @media #{$medium-up} {
	// 	top: -15em;
	// 	right: -5em;
	// 	position: relative;
	// 	border: .15em solid #fff;
	// }

	&:hover {
		background: rgba(255, 255, 255, .25);
	}

	&:focus {
		outline: 0;
	}

	&:before {
		position: absolute;
		left: .125em;
		top: .37em;
		width: 100%;
		height: 100%;
		content: "\e001";
		font-family: VideoJS;
		font-size: 2.5em;
		text-align: center;
		color: #fff;
		outline: 0;

		.ie &,
		.ie11 & {
			top: .5em;
			font-size: .6em;
		}
	}
}

.big-play-button.dark {
	border: .25em solid $darkness-gray;

	&:hover {
		background: rgba(0, 0, 0, .25);
	}

	&:before {
		color: $darkness-gray;
	}
}

.gray-play-button {
	background-color: #606166;
	background-color: rgba(96, 97, 102, 0.7);
	border-radius: 50%;
	width: 100px;
	height: 100px;
	display: block;
	position: relative;
	@include transition(background, .2s);

	&:hover {
		background-color: rgba(96, 97, 102, 1.0);
	}

	span {
		display:block;
		position: relative;
		top: 37px;
		left: 39px;
		background-color: $white;
		text-align: left;
		width:  18px;
		height: 18px;
		border-top-right-radius: 8%;
		-webkit-transform: rotate(-90deg) skewX(-30deg) scale(1,.866);
		transform: rotate(-90deg) skewX(-30deg) scale(1,.866);

		&:before,
		&:after {
			content: '';
			position: absolute;
			background-color: inherit;
			width: 18px;
			height: 18px;
			border-top-right-radius: 8%;
		}

		&:before {
			-webkit-transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
			transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
		}
		&:after {
			-webkit-transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
			transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
		}
	}
}

// .ie8 .gray-play-button {
// 	background: image-url('blt/icons/gray-play-btn.png') no-repeat;
// 	background-color: none;

// 	span {
// 		display: none;

// 		&:before,
// 		&:after {
// 			display: none;
// 		}

// 	}
// }

.occ-mobile-button {
	display: block;
	margin: 1em auto;
}

.caret-button {
	position: relative;
	padding: 0;
	display: inline-block;
	margin-bottom: 1em;

	a {
		display: block;
		@include b-reg;
		color: #95959b;
		background-color: $white;
		position: relative;
		text-transform: uppercase;
		text-align: center;
		padding: 20px;

		@media #{$medium-up} {
			min-width: 180px;
			@include border-radius(3px);
			border: 1px solid $light-gray;
		}


		&:hover {
			color: $darkness-gray;
			border-color: $midnight;
		}
	}


	&.cb-active {
		a {
			border-color: $midnight;
			@include box-shadow(inset 0 0 0 1px $midnight);
			color: $darkness-gray;
			@include b-bold;

			&:after{
				position: absolute;
				height: 0;
				width: 0;
				margin-top: -0.5em;
				border: solid transparent;
				pointer-events: none;
				border-width: .5em;
				content: " ";
				z-index: 9;
			}
		}

		&:after{
			position: absolute;
			height: 0;
			width: 0;
			margin-top: -0.5em;
			border: solid transparent;
			pointer-events: none;
			border-width: .5em;
			content: " ";
		}
	}

	&.cb-caret-left {
		&:after {
			left: 11.2em;
			top: 49%;
			border-left-color: $midnight;
		}

		a {
			&:after {
				left: 11em;
				top: 49.2%;
				border-left-color: $white;
			}
		}
	}


	&.cb-caret-bottom {
		&:after {
			left: 50%;
			bottom: -14px;
			border-top-color: $midnight;
		}

		a {
			&:after {
				left: 50%;
				bottom: -13px;
				border-top-color: $white;
			}
		}
	}
}

// FOR STYLEGUIDE ONLY

.button-row {
	//margin-bottom: 2em !important;

	&.dark {
		background: $sg-dark-gray;
		padding-top: 1em;
		padding-left: 1em;

		@media #{$medium-up} {
			border-radius: .3em;
		}
	}

	.button {
		margin: 0 1em 1em 0;
	}
}

