@import url("//hello.myfonts.net/count/2a825c");

@font-face {
	font-family: 'BrandonText-BoldItalic';
	src: url('../fonts/brandon/2A825C_0_0.eot');
	src: url('../fonts/brandon/2A825C_0_0.eot?#iefix') format('embedded-opentype'), url('../fonts/brandon/2A825C_0_0.woff') format('woff'), url('../fonts/brandon/2A825C_0_0.ttf') format('truetype');
}

@font-face {
	font-family: 'BrandonText-Bold';
	src: url('../fonts/brandon/2A825C_1_0.eot');
	src: url('../fonts/brandon/2A825C_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/brandon/2A825C_1_0.woff') format('woff'),url('../fonts/brandon/2A825C_1_0.ttf') format('truetype');
}

@font-face {
	font-family: 'BrandonText-BlackItalic';
	src: url('../fonts/brandon/2A825C_2_0.eot');
	src: url('../fonts/brandon/2A825C_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/brandon/2A825C_2_0.woff') format('woff'),url('../fonts/brandon/2A825C_2_0.ttf') format('truetype');
}

@font-face {
	font-family: 'BrandonText-Black';
	src: url('../fonts/brandon/2A825C_3_0.eot');
	src: url('../fonts/brandon/2A825C_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/brandon/2A825C_3_0.woff') format('woff'),url('../fonts/brandon/2A825C_3_0.ttf') format('truetype');
}

@font-face {
	font-family: 'BrandonText-LightItalic';
	src: url('../fonts/brandon/2A825C_4_0.eot');
	src: url('../fonts/brandon/2A825C_4_0.eot?#iefix') format('embedded-opentype'),url('../fonts/brandon/2A825C_4_0.woff') format('woff'),url('../fonts/brandon/2A825C_4_0.ttf') format('truetype');
}

@font-face {
	font-family: 'BrandonText-Light';
	src: url('../fonts/brandon/2A825C_5_0.eot');
	src: url('../fonts/brandon/2A825C_5_0.eot?#iefix') format('embedded-opentype'),url('../fonts/brandon/2A825C_5_0.woff') format('woff'),url('../fonts/brandon/2A825C_5_0.ttf') format('truetype');
}

@font-face {
	font-family: 'BrandonText-RegularItalic';
	src: url('../fonts/brandon/2A825C_6_0.eot');
	src: url('../fonts/brandon/2A825C_6_0.eot?#iefix') format('embedded-opentype'),url('../fonts/brandon/2A825C_6_0.woff') format('woff'),url('../fonts/brandon/2A825C_6_0.ttf') format('truetype');
}

@font-face {
	font-family: 'BrandonText-Regular';
	src: url('../fonts/brandon/2A825C_7_0.eot');
	src: url('../fonts/brandon/2A825C_7_0.eot?#iefix') format('embedded-opentype'),url('../fonts/brandon/2A825C_7_0.woff') format('woff'),url('../fonts/brandon/2A825C_7_0.ttf') format('truetype');
}

@font-face {
	font-family: 'BrandonText-Medium';
	src: url('../fonts/brandon/2A825C_8_0.eot');
	src: url('../fonts/brandon/2A825C_8_0.eot?#iefix') format('embedded-opentype'),url('../fonts/brandon/2A825C_8_0.woff') format('woff'),url('../fonts/brandon/2A825C_8_0.ttf') format('truetype');
}

@font-face {
	font-family: 'BrandonText-ThinItalic';
	src: url('../fonts/brandon/2A825C_9_0.eot');
	src: url('../fonts/brandon/2A825C_9_0.eot?#iefix') format('embedded-opentype'),url('../fonts/brandon/2A825C_9_0.woff') format('woff'),url('../fonts/brandon/2A825C_9_0.ttf') format('truetype');
}

@font-face {
	font-family: 'BrandonText-Thin';
	src: url('../fonts/brandon/2A825C_A_0.eot');
	src: url('../fonts/brandon/2A825C_A_0.eot?#iefix') format('embedded-opentype'),url('../fonts/brandon/2A825C_A_0.woff') format('woff'),url('../fonts/brandon/2A825C_A_0.ttf') format('truetype');
}

@font-face {
	font-family: 'BrandonText-MediumItalic';
	src: url('../fonts/brandon/2A825C_B_0.eot');
	src: url('../fonts/brandon/2A825C_B_0.eot?#iefix') format('embedded-opentype'),url('../fonts/brandon/2A825C_B_0.woff') format('woff'),url('../fonts/brandon/2A825C_B_0.ttf') format('truetype');
}

@font-face {
	font-family: 'VideoJS';
	src: url('/bower_components/video.js/dist/video-js/font/vjs.eot');
	src: url('/bower_components/video.js/dist/video-js/font/vjs.eot?#iefix') format('embedded-opentype'), url('/bower_components/video.js/dist/video-js/font/vjs.woff') format('woff'), url('/bower_components/video.js/dist/video-js/font/vjs.ttf') format('truetype'), url('/bower_components/video.js/dist/video-js/font/vjs.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family:si;
    src: url(../fonts/social/socicon.eot);
    src: url(../fonts/social/socicon.eot?#iefix) format('embedded-opentype'),
         url(../fonts/social/socicon.woff2) format('woff2'),
         url(../fonts/social/socicon.woff) format('woff'),
         url(../fonts/social/socicon.ttf) format('truetype'),
         url(../fonts/social/socicon.svg#icomoonregular) format('svg');
    font-weight:400;
    font-style:normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(/fonts/social/socicon.svg) format(svg);
    }
}