.icon-arrow-black-svg,
.icon-arrow-blue-svg,
.icon-arrow-dark-up-svg,
.icon-arrow-lt-blue-svg,
.icon-arrow-pink-svg,
.icon-arrow-white-left-svg,
.icon-arrow-white-right-svg,
.icon-boombox-svg,
.icon-cartcount-no-bacon-svg,
.icon-cartcount-svg,
.icon-cartcount-2-svg,
.icon-check-svg,
.icon-chevron-dark-svg,
.icon-chevron-pink-svg,
.icon-chevron-white-svg,
.icon-chevron-svg,
.icon-close-svg,
.icon-cog-svg,
.icon-dufflebag-small-svg,
.icon-dufflebag-med-svg,
.icon-dufflebag-svg,
.icon-green-check-svg,
.icon-hamburger-svg,
.icon-key-svg,
.icon-lock-svg,
.icon-mail-svg,
.icon-oops-svg,
.icon-paypal-svg,
.icon-play-svg,
.icon-print-svg,
.icon-search-black-svg,
.icon-search-svg,
.icon-shades-svg,
.icon-speech-help-svg,
.icon-truck-svg,
.icon-msg-sent-svg {
	background: url("../img/icons/icon-sprite.svg") no-repeat;
	background-size: 923px 86px;
}

// Zin Home Icons
.icon-zin-avatar-svg,
.icon-zin-connect-svg,
.icon-zin-discs-svg,
.icon-zin-earn-svg,
.icon-zin-edit-svg,
.icon-zin-edit-active-svg,
.icon-zin-expand-graph-svg,
.icon-zin-learn-svg,
.icon-zin-promote-svg,
.icon-zin-steps-svg,
.icon-zin-video-svg,
.icon-zin-video-screen-svg {
	background: url("../img/icons/zin/zin-sprites.svg") no-repeat;
	background-size: 99px 279px;
}

.icon-zin-avatar-svg {
	background-position: -51px -196px;
	width: 35px;
	height: 39px;
}
.icon-zin-connect-svg {
	background-position: 0 -246px;
	width: 34px;
	height: 28px;
}
.icon-zin-discs-svg {
	background-position: -58px -67px;
	width: 64px;
	height: 51px;
	background-size:120px;
}
.icon-zin-earn-svg {
	background-position: -47px -246px;
	width: 34px;
	height: 31px;
}
.icon-zin-edit-svg {
	background-position: 0 -100px;
	width: 19px;
	height: 25px;
}
.icon-zin-edit-active-svg {
	background-position: -20px -100px;
	width: 19px;
	height: 25px;
}
.icon-zin-expand-graph-svg {
	background-position: 0 -138px;
	width: 40px;
	height: 53px;
}
.icon-zin-learn-svg {
	background-position: 0 -197px;
	width: 35px;
	height: 36px;
}
.icon-zin-promote-svg {
	background-position: -43px -138px;
	width: 51px;
	height: 46px;
}
.icon-zin-steps-svg {
	background-position:0 0;
	width: 33px;
	height: 44px;
}
.icon-zin-video-svg {
	background-position: -41px 0;
	width: 60px;
	height: 51px;
}
.icon-zin-video-screen-svg {
	background-position: 0px -66px;
	width: 59px;
	height: 51px;
	background-size: 120px;
}

//ZIN png fallbacks
.icon-zin-avatar-png,
.icon-zin-connect-png,
.icon-zin-discs-png,
.icon-zin-earn-png,
.icon-zin-edit-png,
.icon-zin-edit-active-png,
.icon-zin-expand-graph-png,
.icon-zin-learn-png,
.icon-zin-promote-png,
.icon-zin-steps-png,
.icon-zin-video-png,
.icon-zin-video-screen-png {
	background: url("../img/icons/zin-sprites.png") no-repeat;
	background-size: 99px 279px;
}

.icon-zin-avatar-png {
	background-position: -51px -196px;
	width: 35px;
	height: 39px;
}
.icon-zin-connect-png {
	background-position: 0 -246px;
	width: 34px;
	height: 28px;
}
.icon-zin-discs-png {
	background-position: -59px -67px;
	width: 64px;
	height: 51px;
	background-size:120px;
}
.icon-zin-earn-png {
	background-position: -47px -246px;
	width: 34px;
	height: 31px;
}
.icon-zin-edit-png {
	background-position: 0 -100px;
	width: 19px;
	height: 25px;
}
.icon-zin-edit-active-png {
	background-position: -20px -100px;
	width: 19px;
	height: 25px;
}
.icon-zin-expand-graph-png {
	background-position: 0 -138px;
	width: 40px;
	height: 53px;
}
.icon-zin-learn-png {
	background-position: 0 -197px;
	width: 35px;
	height: 36px;
}
.icon-zin-promote-png {
	background-position: -43px -138px;
	width: 51px;
	height: 46px;
}
.icon-zin-steps-png {
	background-position:0 0;
	width: 33px;
	height: 44px;
}
.icon-zin-video-png {
	background-position: -41px 0;
	width: 60px;
	height: 51px;
}
.icon-zin-video-screen-png {
	background-position: 0px -66px;
	width: 59px;
	height: 51px;
	background-size: 120px;
}

// END ZIN ICONS

.icon-arrow-black-svg {
	background-position: 0 0;
	width: 7px;
	height: 11px;
}

.icon-arrow-blue-svg {
	background-position: 0 -18px;
	width: 36px;
	height: 21px;
}

.icon-arrow-dark-up-svg {
	background-position: -54px -18px;
	width: 8px;
	height: 15px;
}

.icon-arrow-lt-blue-svg {
	background-position: -90px 0;
	width: 10px;
	height: 15px;
}

.icon-arrow-pink-svg {
	background-position: -54px 0;
	width: 7px;
	height: 11px;
}

.icon-arrow-white-left-svg {
	background-position: -144px -72px;
	width: 8px;
	height: 13px;
}

.icon-arrow-white-right-svg {
	background-position: -162px -72px;
	width: 8px;
	height: 13px;
}

.icon-boombox-svg {
	background-position: -378px -1px;
	width: 137px;
	height: 53px;
}

.icon-check-svg {
	background-position: -252px -42px;
	width: 14px;
	height: 13px;
}

.icon-chevron-dark-svg {
	background-position: -18px -1px;
	width: 11px;
	height: 7px;
}

.icon-chevron-pink-svg {
	background-position: -72px -1px;
	width: 12px;
	height: 8px;
}

.icon-chevron-white-svg {
	background-position: -180px -76px;
	width: 12px;
	height: 8px;
}

.icon-chevron-svg {
	background-position: -36px -1px;
	width: 11px;
	height: 7px;
}

.icon-close-svg {
	background-position: -90px -70px;
	width: 14px;
	height: 15px;
}

.icon-cog-svg {
	background-position: -36px -37px;
	width: 19px;
	height: 19px;
}

.icon-dufflebag-small-svg {
	background-position: 0 -54px;
	width: 23px;
	height: 16px;
}

.icon-dufflebag-med-svg {
	background-position: -252px -59px;
	width: 36px;
	height: 25px;
}

.icon-dufflebag-svg {
	background-position: -36px -56px;
	width: 43px;
	height: 28px;
}

.icon-green-check-svg {
	background-position: -834px -52px;
	width: 24px;
	height: 24px;
}

.icon-hamburger-svg {
	background-position: -252px 0;
	width: 35px;
	height: 30px;
}

.icon-key-svg {
	background-position: -306px -50px;
	width: 74px;
	height: 34px;
}

.icon-lock-svg {
	background-position: -72px -37px;
	width: 16px;
	height: 19px;
}

.icon-mail-svg {
	background-position: -306px 0;
	width: 53px;
	height: 36px;
}

.icon-oops-svg {
	background-position: -522px -1px;
	width: 84px;
	height: 62px;
}

.icon-paypal-svg {
	background-position: -413px -60px;
	width: 70px;
	height: 20px;
}

.icon-play-svg {
	background-position: -738px 0;
	width: 84px;
	height: 84px;
}

.icon-print-svg {
	background-position: -691px -58px;
	width: 24px;
	height: 23px;
}

.icon-search-black-svg {
	background-position: -72px -19px;
	width: 15px;
	height: 15px;
}

.icon-search-svg {
	background-position: -90px -19px;
	width: 15px;
	height: 15px;
}

.icon-shades-svg {
	background-position: -630px -1px;
	width: 94px;
	height: 32px;
}

.icon-speech-help-svg {
	background-position: -630px -49px;
	width: 33px;
	height: 35px;
}

.icon-truck-svg {
	background-position: -831px -1px;
	width: 92px;
	height: 32px;
}

.icon-msg-sent-svg {
	background: url("../img/icons/icon-msg-sent-dark.svg") no-repeat;
	background-position: 0 0;
	width: 51px;
	height: 47px;
}

// PNG fallbacks
.icon-arrow-black-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: 0 0;
	width: 7px;
	height: 11px;
	background-size: 922px 84px;
}

.icon-arrow-blue-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: 0 -18px;
	width: 36px;
	height: 21px;
	background-size: 922px 84px;
}

.icon-arrow-dark-up-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -54px -18px;
	width: 8px;
	height: 15px;
	background-size: 922px 84px;
}

.icon-arrow-lt-blue-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -90px 0;
	width: 10px;
	height: 15px;
	background-size: 922px 84px;
}

.icon-arrow-pink-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -54px 0;
	width: 7px;
	height: 11px;
	background-size: 922px 84px;
}

.icon-arrow-white-left-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -209px -72px;
	width: 8px;
	height: 13px;
	background-size: 922px 84px;
}

.icon-arrow-white-right-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -234px -72px;
	width: 8px;
	height: 13px;
	background-size: 922px 84px;
}

.icon-boombox-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -378px 0;
	width: 137px;
	height: 53px;
	background-size: 922px 84px;
}

.icon-cartcount-no-bacon-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -108px 0;
	width: 25px;
	height: 20px;
	background-size: 922px 84px;
}

.icon-cartcount-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -108px -36px;
	width: 39px;
	height: 31px;
	background-size: 922px 84px;
}

.icon-cartcount-2-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -162px 0;
	width: 78px;
	height: 63px;
	background-size: 922px 84px;
}

.icon-check-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background: -252px -42px;
	width: 14px;
	height: 12px;
	background-size: 922px 84px;
}

.icon-chevron-dark-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -18px 0;
	width: 11px;
	height: 7px;
	background-size: 922px 84px;
}

.icon-chevron-pink-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -72px 0;
	width: 12px;
	height: 8px;
	background-size: 922px 84px;
}

.icon-chevron-white-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -180px -76px;
	width: 12px;
	height: 8px;
	background-size: 922px 84px;
}

.icon-chevron-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -36px 0;
	width: 11px;
	height: 7px;
	background-size: 922px 84px;
}

.icon-close-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -90px -70px;
	width: 14px;
	height: 14px;
	background-size: 922px 84px;
}

.icon-cog-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -36px -36px;
	width: 18px;
	height: 18px;
	background-size: 922px 84px;
}

.icon-dufflebag-small-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: 0 -54px;
	width: 23px;
	height: 15px;
	background-size: 922px 84px;
}

.icon-dufflebag-med-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -252px -61px;
	width: 36px;
	height: 24px;
	background-size: 922px 84px;
}

.icon-dufflebag-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -36px -56px;
	width: 43px;
	height: 28px;
	background-size: 922px 84px;
}

.icon-green-check-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -834px -51px;
	width: 24px;
	height: 24px;
	background-size: 922px 84px;
}

.icon-hamburger-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -252px 0;
	width: 47px;
	height: 38px;
	background-size: 922px 84px;
}

.icon-key-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -306px -50px;
	width: 74px;
	height: 34px;
	background-size: 922px 84px;
}

.icon-lock-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -72px -36px;
	width: 16px;
	height: 18px;
}

.icon-mail-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -306px 0;
	width: 53px;
	height: 36px;
	background-size: 922px 84px;
}

.icon-oops-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -522px 0;
	width: 84px;
	height: 62px;
	background-size: 922px 84px;
}

.icon-paypal-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -413px -59px;
	width: 70px;
	height: 20px;
	background-size: 922px 84px;
}

.icon-play-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -738px 0;
	width: 84px;
	height: 84px;
	background-size: 922px 84px;
}

.icon-print-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -690px -57px;
	width: 24px;
	height: 23px;
	background-size: 922px 84px;
}

.icon-search-black-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -72px -19px;
	width: 15px;
	height: 15px;
	background-size: 922px 84px;
}

.icon-search-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -90px -18px;
	width: 15px;
	height: 15px;
	background-size: 922px 84px;
}

.icon-shades-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -630px 0;
	width: 94px;
	height: 32px;
	background-size: 922px 84px;
}

.icon-speech-help-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -630px -51px;
	width: 33px;
	height: 33px;
	background-size: 922px 84px;
}

.icon-truck-png {
	background: url("../img/icons/icon-sprite.png") no-repeat;
	background-position: -831px 0;
	width: 92px;
	height: 32px;
	background-size: 922px 84px;
}

.icon-msg-sent-png {
	background: url("../img/icons/icon-msg-sent-dark.png") no-repeat;
	background-position: 0 0;
	width: 51px;
	height: 47px;
	background-size:51px 47px;
}

// Classes

.no-svg {
	.icon-party {
		background: url("../img/icons/classes-detail/class-detail.png") no-repeat;
	}
}
.icon-party {
	background: url("../img/icons/classes-detail/class-detail.svg") no-repeat;

	&.direction {
		background-position: 0 0;
		background-size: 100%;
		width: 1.5625em;
		height: 1.25em;
	}

	&.person {
		background-position: 0 -1.25em;
		background-size: 100%;
		width: 1.5625em;
		height: 1.5625em;
	}

	&.time {
		background-position: 0 -2.8125em;
		background-size: 100%;
		width: 1.5625em;
		height: 1.5625em;
	}
}

.icon-camera {
	width: 9.375em;
	height: 7.5em;
	background: url("../img/icons/icon-camera.svg") no-repeat;
}

.no-svg {
	.icon-camera {
		width: 9.375em;
		height: 7.5em;
		background: url("../img/icons/icon-camera.png") no-repeat;
	}
}

.icon-browser-chrome,
.icon-browser-firefox,
.icon-browser-ie,
.icon-browser-safari,
.icon-browser-globe {
	background: url("../img/icons/icon-sprite-browsers.png") no-repeat;
	background-size: 165px 37px;
}

.icon-browser-chrome {
	width: 30px;
	height: 32px;
	background-position: 0 -2px;
}

.icon-browser-firefox {
	width: 34px;
	height: 35px;
	background-position: -32px -2px;
}

.icon-browser-ie {
	width: 33px;
	height: 32px;
	background-position: -67px -2px;
}

.icon-browser-safari {
	width: 32px;
	height: 35px;
	background-position: -101px -2px;
}

.icon-browser-globe {
	width: 31px;
	height: 37px;
	background-position: -134px 0;
}

.icon-package {
	width: 101px;
	height: 38px;
	background: url("../img/icons/icon-package-101x38.svg") no-repeat;
	background-size: 100%;

	.no-svg & {
		background: url("../img/icons/icon-package-101x38.png") no-repeat;
	}
}

.icon-stats {
	background: url("../img/icons/icon-sprite-stats.svg") no-repeat;
	background-size: 52px 156px;

	.no-svg & {
		background: url("../img/icons/icon-sprite-stats.png") no-repeat;
	}

	&.globe {
		width: 52px;
		height: 52px;
		background-position: 0 0;
	}

	&.location {
		width: 52px;
		height: 52px;
		background-position: 0 -52px;
	}

	&.smiley {
		width: 52px;
		height: 52px;
		background-position: 0 -104px;
	}
}

.icon-prod {
	background: url("../img/icons/icon-sprite-product-attributes.svg") no-repeat;
	background-size: 32px 310px;

	.no-svg & {
		background: url("../img/icons/icon-sprite-product-attributes.png") no-repeat;
	}

	&.attr-fabric {
		width: 32px;
		height: 25px;
		background-position: 0 0;
	}

	&.attr-zdri {
		width: 32px;
		height: 25px;
		background-position: -2px -29px;
	}

	&.attr-supplex {
		width: 32px;
		height: 26px;
		background-position: -4px -58px;
	}

	&.attr-pocket {
		width: 32px;
		height: 27px;
		background-position: -2px -87px;
	}

	&.attr-compress {
		width: 32px;
		height: 29px;
		background-position: -1px -115px;
	}

	&.attr-compress-hi {
		width: 32px;
		height: 19px;
		background-position: -1px -147px;
	}

	&.attr-4-stretch {
		width: 32px;
		height: 26px;
		background-position: -3px -169px;
	}

	&.attr-favorite {
		width: 32px;
		height: 26px;
		background-position: -3px -198px;
	}

	&.attr-muffin {
		width: 32px;
		height: 26px;
		background-position: -2px -227px;
	}

	&.attr-booty {
		width: 32px;
		height: 25px;
		background-position: -5px -255px;
	}

	&.attr-flat {
		width: 32px;
		height: 25px;
		background-position: -4px -284px;
	}
}