%svg-common-zin {
	background: url("../img/icons/zin/zin-sprite.svg") no-repeat;
	background-size: 27px 560px;
}

.zin-icon_asterisk-black {
	@extend %svg-common-zin;
	background-position: 0 0;
	width: 27px;
	height: 27px;
}

.zin-icon_bday-gray {
	@extend %svg-common-zin;
	background-position: 0 5.065666041275797%;
	width: 27px;
	height: 27px;
}

.zin-icon_calendar-outline-pink {
	@extend %svg-common-zin;
	background-position: 0 10.131332082551594%;
	width: 27px;
	height: 27px;
}

.zin-icon_check-filled-pink {
	@extend %svg-common-zin;
	background-position: 0 15.196998123827392%;
	width: 27px;
	height: 27px;
}

.zin-icon_check-outline-black {
	@extend %svg-common-zin;
	background-position: 0 20.26266416510319%;
	width: 27px;
	height: 27px;
}

.zin-icon_check-outline-green {
	@extend %svg-common-zin;
	background-position: 0 25.328330206378986%;
	width: 27px;
	height: 27px;
}

.zin-icon_check-outline-pink {
	@extend %svg-common-zin;
	background-position: 0 30.393996247654783%;
	width: 27px;
	height: 27px;
}

.zin-icon_close-outline-black {
	@extend %svg-common-zin;
	background-position: 0 35.45966228893058%;
	width: 27px;
	height: 27px;
}

.zin-icon_close-outline-gray {
	@extend %svg-common-zin;
	background-position: 0 40.52532833020638%;
	width: 27px;
	height: 27px;
}

.zin-icon_close-outline-pink {
	@extend %svg-common-zin;
	background-position: 0 45.590994371482175%;
	width: 27px;
	height: 27px;
}

.zin-icon_email-gray {
	@extend %svg-common-zin;
	background-position: 0 49.99074245510091%;
	width: 27px;
	height: 19.9px;
}

.zin-icon_his-her-gray {
	@extend %svg-common-zin;
	background-position: 0 54.409005628517825%;
	width: 27px;
	height: 27px;
}

.zin-icon_pencil-gray {
	@extend %svg-common-zin;
	background-position: 0 59.47467166979362%;
	width: 27px;
	height: 27px;
}

.zin-icon_pencil-pink {
	@extend %svg-common-zin;
	background-position: 0 64.54033771106941%;
	width: 27px;
	height: 27px;
}

.zin-icon_pencil-white {
	@extend %svg-common-zin;
	background-position: 0 69.60600375234522%;
	width: 27px;
	height: 27px;
}

.zin-icon_phone-gray {
	@extend %svg-common-zin;
	background-position: 0 74.671669793621%;
	width: 27px;
	height: 27px;
}

.zin-icon_print-gray {
	@extend %svg-common-zin;
	background-position: 0 79.73733583489681%;
	width: 27px;
	height: 27px;
}

.zin-icon_print-pink {
	@extend %svg-common-zin;
	background-position: 0 84.8030018761726%;
	width: 27px;
	height: 27px;
}

.zin-icon_trash-outline-gray {
	@extend %svg-common-zin;
	background-position: 0 89.8686679174484%;
	width: 27px;
	height: 27px;
}

.zin-icon_trash-outline-pink {
	@extend %svg-common-zin;
	background-position: 0 94.9343339587242%;
	width: 27px;
	height: 27px;
}

.zin-icon_user-gray {
	@extend %svg-common-zin;
	background-position: 0 100%;
	width: 27px;
	height: 27px;
}

